@font-face {
  font-family: "Moneta";

  src: url("https://cors-anywhere.herokuapp.com/https://www.hudsonsolutions.com/assets/corporate/fonts/moneta-black.ttf")
    format("truetype");

  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Moneta", sans-serif !important  ;
  font-weight: 300;
}

button[title="View fullscreen"] {
  visibility: hidden;
}
