@font-face {
  font-family: "Moneta";
  src: url("fonts/Moneta-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Moneta", sans-serif !important  ;
  font-weight: 300;
}

button[title="View fullscreen"] {
  visibility: hidden;
}
